/*
*   Stepy Wizard
*
*/

.stepy {
  width: 100%;
  display: block;
  background-color: #fff
}

.stepy-header {
  background-color: #1582dc;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 1px solid #1166ad
}

.stepy-header li {
  background:#1582dc;
  background-color: transparent;
  position: relative;
  line-height: 1
}

.stepy-header li:before {
  position: absolute;
  top: 1px;
  right: -14px;
  z-index: 9;
  display: block;
  border: 23px solid transparent;
  border-right: 0;
  border-left: 22px solid #1582dc;
  content: ""
}

.stepy-header li:after {
  position: absolute;
  top: 0;
  right: -15px;
  z-index: 1;
  display: block;
  border: 24px solid transparent;
  border-right: 0;
  border-left: 23px solid #1166ad;
  content: ""
}

.stepy-header li div {
  font-weight: 400;
  font-family: inherit;
  color: #fff;
  text-shadow: none;
  text-transform: uppercase;
  font-size: 14px
}

.stepy-header li span,.stepy-header li.stepy-active div,.stepy-header li.stepy-active span {
  color: #fff
}

.stepy-header li.stepy-active div {
  font-weight: 800
}

.stepy-step {
  background: transparent;
  width: 100%
}

.stepy-step:before,.stepy-step:after {
  content: " ";
  display: table
}

.stepy-step:after {
  clear: both
}

.stepy-step legend {
  border-radius: 2px;
  background-color: #2e353d;
  color: #fff;
  padding: 0 15px;
  font-size: 13px
}